<app-nav-bar></app-nav-bar>
<div class="main-wrapper mt-5 ">
    <div class="page-wrapper">
        <!-- Start Content -->
        <div class="content">
            <!-- start row -->
            <div class="row">
                <div class="col-lg-10">
                    <div>
                        <h6 class="mb-3 fs-14"><a href="employees"><i class="ti ti-arrow-left me-1"></i>Employees</a>
                        </h6>
                    </div>


                    <!-- Tabs -->
                    <ul class="nav nav-tabs mb-3">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#overview">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a href="#nav_tab_2" class="nav-link" data-bs-toggle="tab" role="tab">Salary
                                Details</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="#">Investments</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Payslips & Forms</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Loans</a></li>
                        <li> <a href="#nav_tab_3" class="nav-link" data-bs-toggle="tab" role="tab">Document</a></li>
                        <li><a href="#nav_tab_4" class="nav-link" data-bs-toggle="tab" role="tab">Payroll</a></li>
                        <li><a href="#nav_tab_5" class="nav-link" data-bs-toggle="tab" role="tab">Timeoff</a></li>
                    </ul>


                    <div class="tab-content">

                        <div class="tab-pane show active" id="nav_tab_1" role="tabpanel" *ngIf="employee">

                            <div class="container mt-3">
                                <!-- Header -->
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h4>
                                        <div class="d-flex align-items-center mb-3">
                                            <!-- Employee Image -->
                                            <span class="avatar avatar-xl avatar-rounded me-3">
                                                <img [src]="employee.image ? (backendBaseUrl + employee.image) : 'assets/img/default-avatar.png'"
                                                    alt="Employee">
                                            </span>
                                            <!-- Name + Status -->
                                            <div>
                                                <strong>{{ employee.firstname }} {{ employee.lastName }}</strong>
                                                <span class="badge bg-success ms-2">Active</span>
                                            </div>
                                        </div>

                                    </h4>
                                    <!-- <button class="btn btn-outline-secondary btn-sm">Add</button> -->
                                </div>


                                <div class="tab-content">
                                    <!-- Overview Tab -->
                                    <div class="tab-pane fade show active" id="overview">
                                        <!-- Basic Info -->
                                        <!-- Basic Info -->
                                        <div class="card mb-3 shadow-sm">
                                            <div class="card-header bg-white">
                                                <div class="d-flex align-items-center gap-2">
                                                    <h6 class="fw-bold mb-0">Basic Information</h6>
                                                    <button
                                                        class="btn btn-sm btn-link text-primary d-flex align-items-center p-0"
                                                        (click)="editSection('basic')">
                                                        <i class="ti ti-pencil me-1"></i> Edit
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p><strong>Employee ID:</strong> {{ employee.id }}</p>
                                                        <p><strong>Email ID:</strong> {{ employee.email }}</p>
                                                        <p><strong>Mobile Number:</strong> {{ employee.phone }}</p>
                                                        <p><strong>Date of Joining:</strong> {{ employee.joiningDate |
                                                            date }}</p>
                                                        <p><strong>Gender:</strong> {{ employee.gender }}</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="col-md-6">
                                                            <p><strong>Designation:</strong> {{ employee.position }}</p>
                                                            <p><strong>Department:</strong> {{ employee.office }}</p>
                                                        </div>


                                                        <!-- <p><strong>Portal Access:</strong>
                                                            <span class="text-danger">Disabled</span>
                                                        </p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card mb-3 shadow-sm">
                                            <div class="card-header bg-white">
                                                <div class="d-flex align-items-center gap-2">
                                                    <h6 class="fw-bold mb-0">Statutory Details</h6>
                                                    <button
                                                        class="btn btn-sm btn-link text-primary d-flex align-items-center p-0"
                                                        (click)="editSection('statutory')">
                                                        <i class="ti ti-pencil me-1"></i> Edit
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <p><strong>Professional Tax:</strong> <span
                                                        class="text-success">Enabled</span></p>
                                            </div>
                                        </div>

                                        <div class="card mb-3 shadow-sm">
                                            <div class="card-header bg-white">
                                                <div class="d-flex align-items-center gap-2">
                                                    <h6 class="fw-bold mb-0">Personal Information</h6>
                                                    <button
                                                        class="btn btn-sm btn-link text-primary d-flex align-items-center p-0"
                                                        (click)="editSection('personal')">
                                                        <i class="ti ti-pencil me-1"></i> Edit
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <p><strong>Date of Birth:</strong> {{ employee.dob | date }}</p>
                                                        <p><strong>Father's Name:</strong> {{ employee.fathersName ||
                                                            'N/A' }}</p>
                                                        <p><strong>PAN:</strong> {{ employee.panCard || 'N/A' }}</p>
                                                        <p><strong>Aadhaar Number:</strong> {{ employee.aadharNo ||
                                                            'N/A' }}</p>


                                                    </div>

                                                    <div class="col-md-6">
                                                        <p><strong>Email Address:</strong> {{ employee.personalEmail ||
                                                            employee.email }}</p>
                                                        <p><strong>Address:</strong> {{ employee.address }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                        </div>

                        <!-- Salary Details Tab -->
                        <div class="tab-pane fade" id="nav_tab_2" role="tabpanel" *ngIf="employee">
                            <!-- CTC Summary -->
                            <div class="card shadow-sm mb-3">
                                <div class="card-body d-flex justify-content-between align-items-center">
                                    <div>
                                        <h6 class="text-muted mb-1">Annual CTC</h6>
                                        <h4>₹{{ totalAnnual | number:'1.2-2' }} per year</h4>
                                    </div>
                                    <div>
                                        <h6 class="text-muted mb-1">Monthly CTC</h6>
                                        <h4>₹{{ totalMonthly | number:'1.2-2' }} per month</h4>
                                    </div>
                                </div>
                            </div>

                            <!-- Salary Structure -->
                            <div class="card shadow-sm">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <h6 class="mb-0 fw-bold">Salary Structure</h6>

                                    <div class="dropdown">
                                        <button class="btn btn-sm btn-light" type="button" id="salaryOptions"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            <i class="bi bi-three-dots-vertical"></i>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="salaryOptions">
                                            <li>
                                                <button class="dropdown-item" type="button"
                                                    (click)="sendSalaryCertificateMail($event)">
                                                    Send Salary Certificate Mail
                                                </button>

                                            </li>
                                            <li>
                                                <button class="dropdown-item" type="button"
                                                    (click)="printSalaryCertificate($event)">
                                                    Print Salary Certificate
                                                </button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>


                                <table class="table table-bordered align-middle">
                                    <thead class="table-light">
                                        <tr>
                                            <th>SALARY COMPONENTS</th>
                                            <th>CALCULATION TYPE</th>
                                            <th class="text-end">MONTHLY AMOUNT</th>
                                            <th class="text-end">ANNUAL AMOUNT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Basic</td>
                                            <td>{{ basicPercent }}% of CTC</td>
                                            <td class="text-end">₹{{ basicMonthly | number:'1.2-2' }}</td>
                                            <td class="text-end">₹{{ basicAnnual | number:'1.2-2' }}</td>
                                        </tr>
                                        <tr>
                                            <td>House Rent Allowance</td>
                                            <td>{{ hraPercent }}% of Basic</td>
                                            <td class="text-end">₹{{ hraMonthly | number:'1.2-2' }}</td>
                                            <td class="text-end">₹{{ hraAnnual | number:'1.2-2' }}</td>
                                        </tr>

                                        <tr>
                                            <td>Conveyance Allowance</td>
                                            <td>Fixed Amount</td>
                                            <td class="text-end">₹{{ conveyance | number:'1.2-2' }}</td>
                                            <td class="text-end">₹{{ conveyance_annual | number:'1.2-2' }}</td>
                                        </tr>

                                        <tr>
                                            <td>Fixed Allowance</td>
                                            <td>Remaining Amount</td>
                                            <td class="text-end">₹{{ fixedMonthly | number:'1.2-2' }}</td>
                                            <td class="text-end">₹{{ fixedAnnual | number:'1.2-2' }}</td>
                                        </tr>

                                        <tr class="fw-bold table-light">
                                            <td colspan="2">Cost to Company</td>
                                            <td class="text-end">₹{{ totalMonthly | number:'1.2-2' }}</td>
                                            <td class="text-end">₹{{ totalAnnual | number:'1.2-2' }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>


                        <div class="tab-pane" id="nav_tab_3" role="tabpanel">
                            <div class="card rounded-0 mb-0">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h6 class="fw-bold mb-0">Documents</h6>
                                    <a href="javascript:void(0);" class="btn btn-primary fs-12 py-1"
                                        data-bs-toggle="modal" data-bs-target="#add_document">
                                        <i class="ti ti-circle-plus me-1"></i>New Document
                                    </a>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-nowrap border">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Type</th>
                                                    <th>Date</th>
                                                    <th>Size</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let doc of documents">
                                                    <td>{{ doc.name }}</td>
                                                    <td>
                                                        <a [href]="doc.filePath" target="_blank">{{ doc.type }}</a>
                                                    </td>
                                                    <td>{{ doc.date | date:'shortDate' }}</td>
                                                    <td>{{ doc.size }}</td>
                                                    <td>
                                                        <div class="d-inline-flex align-items-center">
                                                            <!-- Edit button -->
                                                            <a href="javascript:void(0);"
                                                                class="btn btn-icon btn-sm btn-outline-white border-0"
                                                                (click)="openEditDocumentModal(doc)">
                                                                <i class="ti ti-edit"></i>
                                                            </a>

                                                            <!-- Delete button -->
                                                            <a href="javascript:void(0);"
                                                                class="btn btn-icon btn-sm btn-outline-white border-0"
                                                                (click)="deleteDocument(doc)">
                                                                <i class="ti ti-trash"></i>
                                                            </a>
                                                        </div>
                                                    </td>

                                                </tr>
                                                <tr *ngIf="documents.length === 0">
                                                    <td colspan="5" class="text-center text-muted">No documents found
                                                    </td>
                                                </tr>
                                                <tr *ngIf="documents.length === 0">
                                                    <td colspan="5" class="text-center text-muted">No documents found
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Add Document Modal -->
                        <div class="modal fade" id="add_document" tabindex="-1" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Upload Document</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label class="form-label">Document Name</label>
                                            <input type="text" class="form-control" [(ngModel)]="newDocument.name">
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Choose File</label>
                                            <input type="file" class="form-control" (change)="onFileSelected($event)">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" (click)="uploadDocument()"
                                            data-bs-dismiss="modal">Upload</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="nav_tab_4" role="tabpanel" *ngIf="employee">
                            <div>
                                <div class="card bg-light shadow mb-3">
                                    <div class="card-body">
                                        <p class="mb-2">Current Salary
                                            <span class="text-dark">{{ bankDetails.salary || '-' }}</span>
                                        </p>
                                        <p class="mb-2">Bank Name
                                            <span class="text-dark">{{ bankDetails.bankName || '-' }}</span>
                                        </p>
                                        <p class="mb-2">Bank Account Number
                                            <span class="text-dark">{{ bankDetails.bankAccountNo || '-' }}</span>
                                        </p>
                                        <p class="mb-0">Bank IFSC Code
                                            <span class="text-dark">{{ bankDetails.ifscCode || '-' }}</span>
                                        </p>
                                    </div>
                                </div>

                                <div class="card rounded-0 mb-0">
                                    <div class="card-header d-flex align-items-center justify-content-between">
                                        <h6 class="fw-bold mb-0">Transactions</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-nowrap border">
                                                <thead class="table-light">
                                                    <tr>
                                                        <th>Transfer Date</th>
                                                        <th>Amount</th>
                                                        <th>Salary For</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let txn of transactions">
                                                        <!-- Transfer Date -->
                                                        <td>{{ txn.created_at | date:'dd-MMM-yyyy, h:mm a' }}</td>

                                                        <!-- Amount -->
                                                        <td>{{ txn.total | currency:'INR':'symbol' }}</td>

                                                        <!-- Salary For -->
                                                        <td>{{ txn.date | date:'dd-MMM-yyyy' }}</td>

                                                        <!-- Status -->
                                                        <td>
                                                            <span [ngClass]="{
  'status-paid': (txn.status || '').toLowerCase() === 'paid',
  'status-pending': (txn.status || '').toLowerCase() === 'pending'
}">
                                                                {{ txn.status }}
                                                            </span>

                                                        </td>
                                                    </tr>

                                                    <tr *ngIf="transactions.length === 0">
                                                        <td colspan="4" class="text-center text-muted">No transactions
                                                            found
                                                        </td>
                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="nav_tab_5" role="tabpanel">
                            <div class="card rounded-0">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h6 class="fw-bold mb-0">Holidays</h6>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-nowrap border">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>01 Jan 2025</td>
                                                    <td class="text-dark">New Year</td>
                                                </tr>
                                                <tr>
                                                    <td>19 Feb 2025</td>
                                                    <td class="text-dark">President’s Day</td>
                                                </tr>
                                                <tr>
                                                    <td>29 Mar 2025</td>
                                                    <td class="text-dark">Good Friday</td>
                                                </tr>
                                                <tr>
                                                    <td>01 Apr 2025</td>
                                                    <td class="text-dark">Easter Monday</td>
                                                </tr>
                                                <tr>
                                                    <td>01 May 2025</td>
                                                    <td class="text-dark">Labour Day</td>
                                                </tr>
                                                <tr>
                                                    <td>15 Aug 2025</td>
                                                    <td class="text-dark">Independance Day</td>
                                                </tr>

                                                <tr>
                                                    <td>11 Nov 2025</td>
                                                    <td class="text-dark">Veterans Day</td>
                                                </tr>
                                                <tr>
                                                    <td>25 Dec 2025</td>
                                                    <td class="text-dark">Christmas Day</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- Leave Statistics Cards -->
                            <div class="row">
                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card card-sm shadow">
                                        <div class="card-body d-flex align-items-center">
                                            <span class="avatar avatar-md bg-secondary me-2">
                                                <i class="ti ti-calendar-star fs-20"></i>
                                            </span>
                                            <div>
                                                <p class="mb-0">Total Leaves</p>
                                                <h6 class="fw-semibold fs-16 mb-0">{{ totalLeaves }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card card-sm shadow">
                                        <div class="card-body d-flex align-items-center">
                                            <span class="avatar avatar-md bg-success me-2">
                                                <i class="ti ti-calendar-x fs-20"></i>
                                            </span>
                                            <div>
                                                <p class="mb-0">Leaves Taken</p>
                                                <h6 class="fw-semibold fs-16 mb-0">{{ leavesTaken }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card card-sm shadow">
                                        <div class="card-body d-flex align-items-center">
                                            <span class="avatar avatar-md bg-orange me-2">
                                                <i class="ti ti-calendar-x fs-20"></i>
                                            </span>
                                            <div>
                                                <p class="mb-0">Leaves Remaining</p>
                                                <h6 class="fw-semibold fs-16 mb-0">{{ leavesRemaining }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-sm-6 mb-3">
                                    <div class="card card-sm shadow">
                                        <div class="card-body d-flex align-items-center">
                                            <span class="avatar avatar-md bg-purple me-2">
                                                <i class="ti ti-smart-home fs-20"></i>
                                            </span>
                                            <div>
                                                <p class="mb-0">Work From Home</p>
                                                <h6 class="fw-semibold fs-16 mb-0">{{ workFromHome }}</h6>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card rounded-0">
                                <div class="card-header d-flex align-items-center justify-content-between">
                                    <h6 class="fw-bold mb-0">Leave Off Details</h6>
                                    <a href="javascript:void(0);" class="btn btn-primary fs-12 py-1"
                                        data-bs-toggle="modal" data-bs-target="#add_leave"><i
                                            class="ti ti-circle-plus me-1"></i>New Leave</a>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-nowrap border">
                                            <thead class="table-light">
                                                <tr>
                                                    <th>Leave Type</th>
                                                    <th>From</th>
                                                    <th>To</th>
                                                    <th>Days</th>
                                                    <th>Status</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let leave of leaves">
                                                    <td>{{ leave.leave_type }}</td>
                                                    <td>{{ leave.start_date | date:'dd MMM yyyy' }}</td>
                                                    <td>{{ leave.end_date | date:'dd MMM yyyy' }}</td>
                                                    <td>{{ calculateDays(leave.start_date, leave.end_date) }}</td>
                                                    <td>{{ leave.status || 'Pending' }}</td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card shadow card-sm bg-light mb-0">
                                <div class="card-body">
                                    <!-- start row -->
                                    <div class="row align-items-center gy-3">
                                        <div class="col-md-5">
                                            <div>
                                                <h6 class="fw-semibold fs-14 mb-0">Time Off Approver</h6>
                                            </div>
                                        </div> <!-- end col -->
                                        <div class="col-md-6">
                                            <div class="d-flex align-items-center">
                                                <p class="mb-0">{{ lineManagerName }}</p>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="text-md-end">
                                                <a href="#" class="btn p-1 border-0 btn-outline-white"><i
                                                        class="ti ti-edit"></i></a>
                                            </div>
                                        </div> <!-- end col -->
                                    </div>
                                    <!-- end row -->
                                </div> <!-- end card header -->
                            </div> <!-- end card -->
                        </div>
                    </div>
                </div> <!-- end col -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>

<!-- Edit Document Modal -->
<div class="modal fade" id="edit_document" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="fw-bold mb-0">Edit Document</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form (ngSubmit)="updateDocument()" [formGroup]="editDocumentForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Document Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" formControlName="name" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Upload Document</label>
                        <input type="file" class="form-control" (change)="onEditFileSelected($event)">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="add_document">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="page-title">
                    <h6 class="fw-bold mb-0">Add New Document</h6>
                </div>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>

            <!-- Bind form to Angular (ngSubmit) -->
            <form (ngSubmit)="uploadDocument()" #documentForm="ngForm">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Document Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" required [(ngModel)]="newDocument.name" name="name">
                    </div>

                    <div>
                        <label class="form-label">Upload Document <span class="text-danger">*</span></label>
                        <input type="file" class="form-control" (change)="onFileSelected($event)">
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="d-flex align-items-center justify-content-end">
                        <button type="button" class="btn me-2 btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary" [disabled]="!selectedFile">Add Document</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="edit_document">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="page-title">
                    <h6 class="fw-bold mb-0">Edit Document</h6>
                </div>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-x"></i></button>
            </div>
            <form action="https://dleohr.dreamstechnologies.com/html/template/employee-details.html">
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Document Name <span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="Appraisal Letter">
                    </div>
                    <div>
                        <label class="form-label">Upload Document <span class="text-danger">*</span></label>
                        <div class="file-uploader">
                            <input type="file" class="form-control">
                            <a href="#" class="input-file">
                                <span class="browse-btn">Browse Files</span>
                                <span class="browse-text">No Files Selected</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex align-items-center justify-content-end">
                        <button type="button" class="btn me-2 btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> <!-- end modal -->

<!-- Add Leave Modal -->
<div class="modal fade" id="add_leave" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <div class="page-title">
                    <h6 class="fw-bold mb-0">Add New Leave</h6>
                </div>
                <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close"><i
                        class="ti ti-x"></i></button>
            </div>
            <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
                <div class="modal-body">
                    <div class="row">

                        <div class="col-sm-12">
                            <label class="form-label">Employee Name</label>
                            <input type="text" class="form-control"
                                [value]="employee?.firstname + ' ' + employee?.lastName" readonly />

                            <!-- Hidden input for form control -->
                            <input type="hidden" formControlName="employee_id" />
                        </div>


                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Leave Type <span class="text-danger">*</span></label>
                                <select formControlName="leave_type" class="form-select" required>
                                    <option value="" disabled>Select Leave Type</option>
                                    <option value="Annual Leave">Annual Leave</option>
                                    <option value="Casual Leave">Casual Leave</option>
                                    <option value="Sick Leave">Sick Leave</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Remaining Leaves</label>
                                <input type="text" class="form-control" [value]="remainingLeaves" disabled />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">From <span class="text-danger">*</span></label>
                                <input type="date" formControlName="start_date" class="form-control" required />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">To <span class="text-danger">*</span></label>
                                <input type="date" formControlName="end_date" class="form-control" required />
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Duration <span class="text-danger">*</span></label>
                                <select formControlName="duration" class="form-select" required>
                                    <option value="" disabled selected>Select Duration</option>
                                    <option value="Full Day">Full Day</option>
                                    <option value="First Half">First Half</option>
                                    <option value="Second Half">Second Half</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-3">
                                <label class="form-label">Number of Days Leave</label>
                                <input type="text" class="form-control"
                                    [value]="leaveForm.value.start_date && leaveForm.value.end_date ? calculateDays(leaveForm.value.start_date, leaveForm.value.end_date) : ''"
                                    disabled />


                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div>
                                <label class="form-label">Reason</label>
                                <textarea formControlName="reason" class="form-control" rows="3"></textarea>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="d-flex align-items-center justify-content-end">
                        <button type="button" class="btn me-2 btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update Leave' : 'Add Leave'
                            }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="delete_modal">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="mb-3">
                    <span class="avatar bg-danger"><i class="ti ti-trash fs-24"></i></span>
                </div>
                <h6 class="mb-1">Delete Confirmation</h6>
                <p class="mb-3">Are you sure want to delete document?</p>
                <div class="d-flex justify-content-center">
                    <a href="javascript:void(0);" class="btn btn-outline-white w-100 me-2"
                        data-bs-dismiss="modal">Cancel</a>
                    <a href="employee-details.html" class="btn btn-danger w-100">Yes, Delete</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end modal -->

<!-- Edit Basic Information Modal -->
<div class="modal fade" id="editBasicModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ employee?.firstname }}'s Basic Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="basicForm">
                    <div class="row g-3">
                        <div class="col-md-4">
                            <label>First Name *</label>
                            <input type="text" formControlName="firstname" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label>Middle Name</label>
                            <input type="text" formControlName="fathersName" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <label>Last Name *</label>
                            <input type="text" formControlName="lastName" class="form-control">
                        </div>
                        <!-- <div class="col-md-6">
              <label>Employee ID *</label>
              <input type="text" formControlName="employeeId" class="form-control">
            </div> -->
                        <div class="col-md-6">
                            <label>Date of Joining *</label>
                            <input type="date" formControlName="dateOfJoining" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Work Email *</label>
                            <input type="email" formControlName="email" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Mobile Number</label>
                            <input type="text" formControlName="phone" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Gender *</label>
                            <select formControlName="gender" class="form-control">
                                <option value="">Select Gender</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <!-- <div class="col-md-6">
              <label>Work Location *</label>
              <select formControlName="workLocation" class="form-control">
                <option *ngFor="let loc of locations" [value]="loc.id">{{ loc.name }}</option>
              </select>
            </div> -->
                        <div class="col-md-6">
                            <label>Designation *</label>
                            <input type="text" formControlName="position" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Department *</label>
                            <select formControlName="departmentId" class="form-control">
                                <option *ngFor="let dept of departments" [value]="dept.id">{{ dept.name }}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" (click)="saveBasicInfo()">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Personal Information Modal -->
<div class="modal fade" id="editPersonalModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Personal Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="personalForm">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label>Date of Birth</label>
                            <input type="date" formControlName="dob" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Father's Name</label>
                            <input type="text" formControlName="fathersName" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>PAN</label>
                            <input type="text" formControlName="panCard" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Aadhaar Number</label>
                            <input type="text" formControlName="aadharNo" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <input type="email" formControlName="email" class="form-control">
                        </div>
                        <div class="col-md-6">
                            <label>Address</label>
                            <input type="text" formControlName="address" class="form-control">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" (click)="savePersonalInfo()">Save</button>
            </div>
        </div>
    </div>
</div>