<!-- nav-bar -->

<head>
    <link href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/tabler-icons.min.css" rel="stylesheet">
</head>
<header class="navbar-header">
    <div class="page-container topbar-menu">
        <div class="d-flex align-items-center gap-2">

            <a routerLink="/dashboard" class="logo d-flex align-items-center gap-2 text-decoration-none">
                <span class="fw-bold company-name">{{ company?.name || 'Kalkisoft' }}</span>
            </a>

            <!-- Sidebar Mobile Button -->
            <a id="mobile_btn" class="mobile-btn" href="#sidebar">
                <i class="ti ti-menu-deep fs-24"></i>
            </a>

            <button class="sidenav-toggle-btn btn p-0" id="toggle_btn2">
                <i class="ti ti-chevron-left-pipe"></i>
            </button>

        </div>
        <div class="d-flex align-items-center">


            <!-- welcome -->
            <div class="header-item">
                <div class="d-flex align-items-center px-3">
                    <i class="ti ti-user-circle fs-20 me-2"></i>
                    <span class="fw-semibold welcome-text">
                        Welcome, {{ user?.name || user?.firstName || user?.username }} ({{ userRole || 'Employee' }})
                    </span>

                </div>
            </div>

        </div>
    </div>

</header><!-- Sidenav Menu Start -->
<div class="sidebar" id="sidebar">

    <!-- Start Logo -->
    <div class="sidebar-logo">
        <div>
            <!-- Logo Normal -->
            <a routerLink="/dashboard" class="logo logo-normal">
                <img [src]="company?.logo || 'assets/img/kalkisoft.webp'" alt="Company Logo">
            </a>

            <!-- Logo Small -->
            <a routerLink="/dashboard" class="logo-small">
                <img [src]="company?.logo || 'assets/img/kalkisoft.webp'" alt="Company Logo">
            </a>

            <!-- Logo Dark -->
            <a routerLink="/dashboard" class="dark-logo">
                <img [src]="company?.logo || 'assets/img/kalkisoft.webp'" alt="Company Logo">
            </a>
        </div>

        <button class="sidenav-toggle-btn btn p-0" id="toggle_btn">
            <i class="ti ti-chevron-left-pipe"></i>
        </button>

        <!-- Sidebar Menu Close -->
        <button class="sidebar-close">
            <i class="ti ti-x align-middle"></i>
        </button>
    </div>
    <!-- End Logo -->

    <!-- Sidenav Menu -->
    <div class="sidebar-inner" data-simplebar>
        <div id="sidebar-menu" class="sidebar-menu">
            <ul>
                <li>
                    <ul>
                        <li>
                            <a routerLink="/dashboard" routerLinkActive="active">
                                <i class="ti ti-layout-dashboard"></i>
                                <span>Dashboard</span>
                            </a>

                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center" (click)="toggleApplications()" style="cursor:pointer">
                                <i class="ti ti-apps me-1"></i> <span>Applications</span>
                                <i class="ms-auto ti"
                                    [ngClass]="applicationsOpen ? 'ti-chevron-down' : 'ti-chevron-right'"></i>
                            </a>

                            <ul class="list-unstyled ps-3" *ngIf="applicationsOpen">
                                <li>
                                    <a class="nav-link px-0 d-flex align-items-center gap-2"
                                        routerLink="/application/chat" routerLinkActive="active">
                                        <i class="ti ti-message-circle"></i>
                                        <span>Chat</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link px-0 d-flex align-items-center gap-2"
                                        routerLink="/application/calendar" routerLinkActive="active">
                                        <i class="ti ti-calendar-event"></i>
                                        <span>Calendar</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-link px-0 d-flex align-items-center gap-2"
                                        routerLink="/application/notes" routerLinkActive="active">
                                        <i class="ti ti-notebook"></i>
                                        <span>Notes</span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </li>
                <li>
                    <ul>

                        <li *ngIf="canViewDepartment">
                            <a routerLink="/departments">
                                <i class="ti ti-building-community"></i>
                                <span>Department</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/employees" routerLinkActive="active">
                                <i class="ti ti-users-group"></i><span>Employee</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/attendance" routerLinkActive="active">
                                <i class="ti ti-calendar-star"></i><span>Attendance</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/leaves" routerLinkActive="active">
                                <i class="ti ti-calendar-star"></i><span>Leaves</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <ul>
                        <li class="nav-item">
                            <a class="d-flex align-items-center" (click)="toggleSalary()" style="cursor:pointer">
                                <i class="ti ti-calendar-event me-1"></i>
                                <span>Payroll</span>
                                <i class="ms-auto ti"
                                    [ngClass]="salaryOpen ? 'ti-chevron-down' : 'ti-chevron-right'"></i>
                            </a>

                            <ul class="list-unstyled ps-3" *ngIf="salaryOpen">
                                <li>
                                    <a class="nav-link px-0 d-flex align-items-center gap-2" routerLink="/salary"
                                        routerLinkActive="active">
                                        <i class="ti ti-wallet"></i>
                                        <span>Salary Payroll</span>
                                    </a>
                                </li>
                                <li *ngIf="authService.isSuperAdmin()">
                                    <a routerLink="/fund-master" routerLinkActive="active">
                                        <i class="ti ti-cash"></i>
                                        <span>Fund Master</span>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    
                        <li *ngIf="canViewReports">
                            <a routerLink="/reports" routerLinkActive="active">
                                <i class="ti ti-report"></i>
                                <span>Reports</span>
                            </a>
                        </li>

                        <li *ngIf="authService.isSuperAdmin()">
                            <a routerLink="/roles" routerLinkActive="active">
                                <i class="ti ti-report"></i><span>Manage</span>
                            </a>
                        </li>
                        <li *ngIf="authService.isSuperAdmin()">
                            <a routerLink="/permission-chart" routerLinkActive="active">
                                <i class="ti ti-report"></i><span>Permission-chart</span>
                            </a>
                        </li>
                        <li *ngIf="authService.isSuperAdmin()">
                            <a routerLink="/company" routerLinkActive="active">
                                <i class="ti ti-report"></i><span>Company</span>
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <ul>
                        <li>
                            <button class="btn btn-danger w-100" (click)="logout()">
                                <i class="ti ti-logout-2 me-1"></i>Logout
                            </button>


                        </li>
                    </ul>
                </li>
                <li>
                </li>
            </ul>
        </div>
        <!-- <div class="sidebar-footer">
            <div class="bg-light p-2 rounded d-flex align-items-center">
                <a href="#" class="avatar avatar-md me-2"><img src="assets/img/users/avatar-2.jpg" alt=""></a>
                <div>
                    <h6 class="fs-14 fw-semibold mb-1"><a href="#">Joseph Smith</a></h6>
                    <p class="fs-13 mb-0"><a href="https://dleohr.dreamstechnologies.com/cdn-cgi/l/email-protection"
                            class="__cf_email__"
                            data-cfemail="7f1e1b1216113f1a071e120f131a511c1012">[email&#160;protected]</a></p>
                </div>
            </div>
        </div> -->

    </div>

</div>
<!-- Sidenav Menu End -->