<!-- Begin Wrapper -->
<app-nav-bar></app-nav-bar>
<div class="main-wrapper mt-5">
    <div class="page-wrapper">
        <div class="content">
            <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-3">
                <div class="flex-grow-1">
                    <h5 class="fw-bold">Leaves</h5>
                </div>
                <div>
                    <a href="javascript:void(0);" class="btn btn-primary" (click)="openAddModal()">
                        <i class="ti ti-circle-plus me-1"></i> New Leave
                    </a>

                </div>
            </div>
            <!-- End Page Header -->
            <div class="d-flex align-items-center mb-3">
                <a href="leaves.html" class="btn btn-sm btn-dark fs-14 me-2">All Leaves</a>
                <a *ngIf="isSuperAdmin" href="leave-types" class="btn btn-sm btn-light fs-14 border">Leave Types</a>
            </div>
            <div class="d-flex align-items-center justify-content-between flex-wrap row-gap-3 mb-3">
                <div class="datatable-search">
                    <a href="javascript:void(0);" class="input-text"><i class="ti ti-search"></i></a>
                </div>
                <div class="d-flex align-items-center">
                    <div class="dropdown me-2">
                        <a href="javascript:void(0);"
                            class="btn fs-14 py-1 btn-outline-white d-inline-flex align-items-center"
                            data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            <i class="ti ti-filter me-1"></i>Filter
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0 border-0" id="filter-dropdown">
                            <div class="card mb-0">
                                <div class="card-header">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <h6 class="fw-bold mb-0">Filter</h6>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void(0);"
                                                class="link-danger text-decoration-underline">Clear All</a>
                                        </div>
                                    </div>
                                </div>
                                <form action="#">
                                    <div class="card-body">
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label class="form-label">Leave Type</label>
                                                <a href="javascript:void(0);" class="link-primary mb-1">Reset</a>
                                            </div>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);"
                                                    class="dropdown-toggle justify-content-between btn bg-light justify-content-start border w-100"
                                                    data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                                    aria-expanded="true">
                                                    Select
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu w-100">
                                                    <li>
                                                        <label
                                                            class="dropdown-item px-2 d-flex align-items-center rounded-1">
                                                            <input class="form-check-input m-0 me-2" type="checkbox">
                                                            Annual Leave
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label
                                                            class="dropdown-item px-2 d-flex align-items-center rounded-1">
                                                            <input class="form-check-input m-0 me-2" type="checkbox">
                                                            Casual Leave
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label
                                                            class="dropdown-item px-2 d-flex align-items-center rounded-1">
                                                            <input class="form-check-input m-0 me-2" type="checkbox">
                                                            Sick Leave
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="d-flex align-items-center justify-content-between">
                                                <label class="form-label">Status</label>
                                                <a href="javascript:void(0);" class="link-primary mb-1">Reset</a>
                                            </div>
                                            <div class="dropdown">
                                                <a href="javascript:void(0);"
                                                    class="dropdown-toggle justify-content-between btn bg-light justify-content-start border w-100"
                                                    data-bs-toggle="dropdown" data-bs-auto-close="outside"
                                                    aria-expanded="true">
                                                    Select
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu w-100">
                                                    <li>
                                                        <label
                                                            class="dropdown-item px-2 d-flex align-items-center rounded-1">
                                                            <input class="form-check-input m-0 me-2" type="checkbox">
                                                            Approved
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label
                                                            class="dropdown-item px-2 d-flex align-items-center rounded-1">
                                                            <input class="form-check-input m-0 me-2" type="checkbox">
                                                            Rejected
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer d-flex align-items-center justify-content-end">
                                        <button type="button" class="btn btn-outline-white me-2"
                                            id="close-filter">Close</button>
                                        <button type="submit" class="btn btn-primary">Filter</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown">
                        <a href="javascript:void(0);"
                            class="dropdown-toggle btn fs-14 py-1 btn-outline-white d-inline-flex align-items-center"
                            data-bs-toggle="dropdown">
                            <i class="ti ti-sort-descending-2 text-dark me-1"></i>Sort By : Newest
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end p-1">
                            <li><a href="javascript:void(0);" class="dropdown-item rounded-1">Newest</a> </li>
                            <li><a href="javascript:void(0);" class="dropdown-item rounded-1">Oldest</a></li>
                            <li><a href="javascript:void(0);" class="dropdown-item rounded-1">Desending</a> </li>
                            <li> <a href="javascript:void(0);" class="dropdown-item rounded-1">Last Month</a></li>
                            <li><a href="javascript:void(0);" class="dropdown-item rounded-1">Last 7 Days</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-nowrap datatable">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Leave Type</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Days</th>
                            <th>Remaining Days</th>
                            <th>Status</th>
                            <th class="no-sort" *ngIf="canLeaveAction">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let leave of leaves">
                            <td>{{ getEmployeeName(leave.employee_id) }}</td>
                            <td>{{ leave.leave_type }}</td>
                            <td>{{ leave.start_date | date }}</td>
                            <td>{{ leave.end_date | date }}</td>
                            <td>{{ leave.days }}</td>
                            <td>{{ totalLeaves - (leave?.days || 0) }}</td> <!-- ✅ safe calculation -->
                            <td>

                                <select class="form-select form-select-sm" [(ngModel)]="leave.status"
                                    (change)="onStatusChange(leave)" [disabled]="!canLeaveAction">
                                    <option value="Pending">Pending</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Rejected">Rejected</option>
                                </select>


                            </td>
                            <td *ngIf="canLeaveAction">
                                <button class="btn btn-sm btn-primary" (click)="openEditModal(leave)"
                                    *ngIf="canLeaveAction">Edit</button>
                                <button class="btn btn-sm btn-danger" (click)="confirmDelete(leave.id)"
                                    *ngIf="canLeaveAction">Delete</button>

                            </td>

                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addLeaveModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="page-title">
                        <h6 class="fw-bold mb-0">Add New Leave</h6>
                    </div>
                    <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal"
                        aria-label="Close"><i class="ti ti-x"></i></button>
                </div>
                <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label">Employee Name <span class="text-danger">*</span></label>
                                    <select class="form-control" formControlName="employee_id"
                                        (change)="onEmployeeChange($event)">
                                        <option value="">-- Select Employee --</option>
                                        <option *ngFor="let emp of employees" [value]="emp.id">
                                            {{ emp.firstname }} {{ emp.lastName }}
                                        </option>

                                    </select>

                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label for="leaveType" class="form-label">Leave Type</label>
                                    <select formControlName="leave_type" id="leaveType" class="form-select" required>
                                        <option value="" disabled>Select Leave Type</option>
                                        <option *ngFor="let type of leaveTypes" [value]="type.name">
                                            {{ type.name }}
                                        </option>
                                    </select>
                                </div>

                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label">Already Used Leaves</label>
                                        <input type="text" class="form-control" [value]="usedLeaves" disabled />
                                    </div>

                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label">Remaining Leaves</label>
                                        <input type="text" class="form-control" [value]="remainingLeaves" disabled />
                                    </div>
                                </div>
                            </div>



                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">From <span class="text-danger">*</span></label>
                                    <input type="date" formControlName="start_date" class="form-control" required />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">To <span class="text-danger">*</span></label>
                                    <input type="date" formControlName="end_date" class="form-control" required />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">Duration <span class="text-danger">*</span></label>
                                    <select formControlName="duration" class="form-select" required>
                                        <option value="" disabled selected>Select Duration</option>
                                        <option value="Full Day">Full Day</option>
                                        <option value="First Half">First Half</option>
                                        <option value="Second Half">Second Half</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">Number of Days Leave</label>
                                    <input type="text" class="form-control"
                                        [value]="leaveForm.value.start_date && leaveForm.value.end_date ? calculateDays(leaveForm.value.start_date, leaveForm.value.end_date) : ''"
                                        disabled />

                                </div>
                            </div>

                            <div class="col-sm-12">
                                <div>
                                    <label class="form-label">Reason</label>
                                    <textarea formControlName="reason" class="form-control" rows="3"></textarea>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="d-flex align-items-center justify-content-end">
                            <button type="button" class="btn me-2 btn-light" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">{{ isEditMode ? 'Update Leave' : 'Add Leave'
                                }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addLeaveModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="page-title">
                        <h6 class="fw-bold mb-0">{{ isEditMode ? 'Edit Leave' : 'Add New Leave' }}</h6>
                    </div>
                    <button type="button" class="btn-close custom-btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="ti ti-x"></i>
                    </button>
                </div>

                <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
                    <div class="modal-body">
                        <div class="row">
                            <!-- Employee -->
                            <div class="col-sm-12">
                                <div class="mb-3">
                                    <label class="form-label">Employee Name <span class="text-danger">*</span></label>
                                    <select class="form-control" formControlName="employee_id"
                                        (change)="onEmployeeChange($event)">
                                        <option value="">-- Select Employee --</option>
                                        <option *ngFor="let emp of employees" [value]="emp.id">
                                            {{ emp.firstname }} {{ emp.lastName }}
                                        </option>
                                    </select>

                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="leaveType" class="form-label">Leave Type</label>
                                <select formControlName="leave_type" id="leaveType" class="form-select" required>
                                    <option value="" disabled>Select Leave Type</option>
                                    <option *ngFor="let type of leaveTypes" [value]="type.name">
                                        {{ type.name }}
                                    </option>
                                </select>
                            </div>


                            <!-- Already Used / Remaining -->
                            <div class="row mt-3">
                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label">Already Used Leaves</label>
                                        <input type="text" class="form-control" [value]="usedLeaves" disabled />
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="mb-3">
                                        <label class="form-label">Remaining Leaves</label>
                                        <input type="text" class="form-control" [value]="remainingLeaves" disabled />
                                    </div>
                                </div>
                            </div>

                            <!-- Dates -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">From <span class="text-danger">*</span></label>
                                    <input type="date" formControlName="start_date" class="form-control" required />
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">To <span class="text-danger">*</span></label>
                                    <input type="date" formControlName="end_date" class="form-control" required />
                                </div>
                            </div>

                            <!-- Duration -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">Duration <span class="text-danger">*</span></label>
                                    <select formControlName="duration" class="form-select" required>
                                        <option value="" disabled selected>Select Duration</option>
                                        <option value="Full Day">Full Day</option>
                                        <option value="First Half">First Half</option>
                                        <option value="Second Half">Second Half</option>
                                    </select>
                                </div>
                            </div>

                            <!-- Number of Days -->
                            <div class="col-sm-6">
                                <div class="mb-3">
                                    <label class="form-label">Number of Days Leave</label>
                                    <input type="text" class="form-control"
                                        [value]="leaveForm.value.start_date && leaveForm.value.end_date ? calculateDays(leaveForm.value.start_date, leaveForm.value.end_date) : ''"
                                        disabled />
                                </div>
                            </div>

                            <!-- Reason -->
                            <div class="col-sm-12">
                                <div>
                                    <label class="form-label">Reason</label>
                                    <textarea formControlName="reason" class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="d-flex align-items-center justify-content-end">
                            <button type="button" class="btn me-2 btn-light" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">
                                {{ isEditMode ? 'Update Leave' : 'Add Leave' }}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete_modal">
        <div class="modal-dialog modal-dialog-centered modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="mb-3">
                        <span class="avatar bg-danger"><i class="ti ti-trash fs-24"></i></span>
                    </div>
                    <h6 class="mb-1">Delete Confirmation</h6>
                    <p class="mb-3">Are you sure want to delete leave?</p>
                    <div class="d-flex justify-content-center">
                        <a href="javascript:void(0);" class="btn btn-outline-white w-100 me-2"
                            data-bs-dismiss="modal">Cancel</a>
                        <a href="leaves.html" class="btn btn-danger w-100">Yes, Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>